.signin-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  border-radius: 0 0 15px 15px;
  .title-login {
    margin: 20px 0 10px 0;
    font-weight: 600;
    font-size: 18px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
    input {
      margin: 7.5px 5px;
      font-size: 20px;
      padding: 5px;
      max-width: 300px;
    }

    .login-button {
      background-color: rgb(57, 87, 112);
      border-radius: 5px;
      padding: 10px;
      border: none;
      font-size: 16px;
      margin: 0 5px;
      color: rgba($color: #ffffff, $alpha: 1);
      cursor: pointer;
      @media screen and (max-width: 400px) {
        margin-top: 15px;
      }
    }
  }
  .sing-out-button {
    background-color: rgb(57, 87, 112);
    border-radius: 5px;
    padding: 10px;
    color: rgba($color: #ffffff, $alpha: 1);
    cursor: pointer;
  }
}
.image-wrapper {
  position: absolute;
  top: 50px;
  left: calc(50% - 70px);
  .image-content {
    .remove-image {
      background-color: rgb(57, 87, 112);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      color: rgba($color: #ffffff, $alpha: 1);
      cursor: pointer;
    }
    .uploaded-img {
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 100px;
      z-index: 3;
    }
  }
  .upload {
    position: fixed;
    left: 50%;
    bottom: 0px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 150px 50px #000;
    input {
      font-size: 18px;
      width: 250px;
      margin-bottom: 15px;
    }
    .upload-image-button {
      background-color: rgb(57, 87, 112);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      color: rgba($color: #ffffff, $alpha: 1);
      cursor: pointer;
    }
  }
}
.open-modal-login {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 5;
}
