.signin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-login {
    margin-bottom: 15px;
    font-size: 24px;
  }
  input {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid rgb(165, 165, 165);
    outline: none;
  }

  .login-button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    &:hover {
      scale: 1.1;
      box-shadow: 0 10px 25px 0 rgba($color: #000000, $alpha: 0.05);
    }
  }
}
.sing-out-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 300ms;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  &:hover {
    scale: 1.1;
    box-shadow: 0 10px 25px 0 rgba($color: #000000, $alpha: 0.05);
  }
}
