.popup-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 90%;
    background-color: rgba($color: #fff, $alpha: .6);
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    transition: all 300ms;
    border-radius: 20px 20px 0 0;

    .close-wrapper {
        margin-bottom: 70px;

        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.5;
            cursor: pointer;
            transition: all 300ms;
        }

        .close:hover {
            opacity: 1;
            rotate: 90deg;
        }

        .close:before,
        .close:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #333;
        }

        .close:before {
            transform: rotate(45deg);
        }

        .close:after {
            transform: rotate(-45deg);
        }
    }

    .description {
        margin-bottom: 50px;
        text-align: center;

        .bold {
            font-weight: bolder;
        }
    }
}

.ios {
    background-color: #fff;
}