@import "../Variables.scss";

.main-wrapper {
  .content-wrapper {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    .logo {
      background-image: url(../assests/icons/blank-avatar-icon-35.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 140px;
      min-width: 140px;
      border-radius: 75px;
      margin-bottom: 25px;
    }

    .name {
      font-size: 1.5rem;
      margin-bottom: 5px;
      @include text-parameters;
    }

    .description {
      text-align: center;
      margin-bottom: 25px;
      @include text-parameters;
    }

    .links {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
    }

    .share-wrapper {
      margin-bottom: 40px;

      p {
        text-align: center;
        margin-bottom: 15px;
        @include text-parameters;
      }

      .share-links {
        button {
          margin-right: 25px;
          transition: all 300ms;

          &:last-child {
            margin-right: 0px;
          }

          &:hover {
            scale: 1.2;
          }
        }
      }
    }

    .support-wrapper {
      .support-content {
        display: flex;
        justify-content: center;
        transition: all 300ms;

        .support-label {
          text-transform: uppercase;
          font-size: 1.5rem;
          margin-bottom: 5px;
          font-weight: 600;
          margin-right: 15px;
          @include text-parameters;
        }

        img {
          height: 40px;
        }

        &:hover {
          scale: 1.1;
        }
      }
    }
    .avatar-content {
      .remove-avatar {
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        color: rgba($color: #212121, $alpha: 1);
        cursor: pointer;
        transition: all 300ms ease-in-out;
        border: 1px solid rgba(0, 0, 0, 0.3);
        &:hover {
          scale: 1.1;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
      }
      .uploaded-avatar {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 100px;
        z-index: 3;
      }
    }
  }

  .des-link {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;

    @media (-webkit-min-device-pixel-ratio: 3) {
      position: relative;
    }

    a {
      text-decoration: none;
      @include text-parameters;
    }
  }
  .open-login-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
    cursor: pointer;
  }
}

.hidden-popup {
  bottom: 0;
  height: 0px;
  padding: 0px;
  overflow: hidden;
}
