@import "../../Variables.scss";

.modal-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 9;

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    @media only screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .buttons-wrapper {
      margin-top: 20px;
      display: flex;
      @media only screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .alrt-button {
        padding: 20px;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        width: fit-content;
        transition: all 300ms ease-in-out;
        @media only screen and (max-width: 400px) {
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        &:hover {
          &:hover {
            scale: 1.1;
          }
        }
      }
      .alert-no {
        background-color: rgb(147, 41, 41);
        @include text-parameters;
      }
      .alrt-button:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
