@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --mainblockbg: url("https://source.unsplash.com/1920x1080/?Ocean");
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  display: flex;
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(50px);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 25px;
  width: 360px;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 300ms;
  cursor: pointer;

  @media only screen and (max-width:400px) {
    width: 88vw;
  }

  .icon {
    height: 25px;

    img {
      width: 25px;
      height: 25px;
    }
  }


  .link-name {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-right: 20px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.invert {
  border: 1px solid rgba(0, 0, 0, .9);
  background-color: rgba(0, 0, 0, .9);
}